/* ALIGNMENT */
footer {
    /* outline: yellow dashed 2px; */
    width: 100%;
    height: 3vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: .7rem;
    color: white;
}